<div class="message <%= "right" if user_is_messages_author %>">

  <% if message.sender.avatar.attached? %>
    <%= cl_image_tag User.find_by(id: match.user_two_id).avatar.key, height: 42, width: 42, crop: :thumb, gravity: :face %>
  <% elsif @best_match.gender == "male" %>
    <%= cl_image_tag "https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-19_eufk6s.png", crop: :fill, class: "avatar" %>
  <% else %>
    <%= cl_image_tag "https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-20_njbszk.png", crop: :fill, class: "avatar" %>
  <% end %>
  <div class="message-content"> <%= message.content %></div>
</div>
