<div class="profile-user-container">
  <div class="preferences-form-inputs">
    <h2>Edit Preferences</h2>
        <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, height: 200, width: 200, crop: :thumb, gravity: :face %>
        <% elsif @user.gender == "male" %>
            <img src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-19_eufk6s.png" alt="<% @user.id %>">
        <% else %>
            <img src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-20_njbszk.png" alt="<% @user.id %>">
        <% end %>
        <div class="preferences-form">
          <%= simple_form_for(@user, as: @user, url: my_preferences_path, html: { method: :put }) do |f| %>
            <%= hidden_field_tag 'id', @user.id %>
            <%= f.error_notification %>

              <h5>Change profile photo:</h5>

              <%= f.input :avatar, as: :file, inline_label: 'avatar', label: false %>

              <h5>Gender:</h5>

              <%= f.input :gender, inline_label: 'avatar', label: false, collection: ["male", "female"] %>


              <h5>Description:</h5>

              <%= f.input :description, as: :text, autofocus: true, inline_label: 'Descrição', label: false %>

              <h5>Preferences:</h5>
              <div>
                <%= f.label 'Man'%>
                <%= f.check_box :like_man %>
                <%= f.label 'Woman'%>
                <%= f.check_box :like_woman %>
              </div>
            <%= f.button :submit, "Update", class:"btn preferences-btn col-sm-4 mt-1" %>
          <% end %>
        </div>
      </div>
  </div>
</div>

