
<% if @best_match.nil? %>
  <% render "end" %>
<% else %>
  <div class="profile-container">
    <h5 class="match-percent">
      75%
    </h5>
    <% if @best_match.photos.attached? %>
       <img class="d-block" id="image-carousel" src='' alt="<% @best_match.id %>">
          <div class="user-details"><%= @best_match.username %></div>
    <% elsif @best_match.gender == "male" %>
        <%= link_to user_path(@best_match) do %>
           <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866471/rqujcnufwkhrrkmdgkku.png" alt="<% @best_match.id %>">
            <%#= image_tag "image" %>
        <% end %>
            <div class="user-details"><%= @best_match.username %></div>
    <% else %>
        <%= link_to user_path(@best_match) do %>
             <%#= image_tag "image" %>
             <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866457/hj6sf5ea59kq5xhi19ew.png" alt="<% @best_match.id %>">
        <% end %>
    <div class="signs-list">
      <div class="sign">XX</div>
      <div id="sun-sign" class="sign">XXX</div>
      <div class="sign">XX</div>
    </div>
    <p class="profile-name"><%= @best_match.username %></p>
    <div class="like-buttons">
      <span class="deslike">
        <%= link_to interactions_path(like: false, receiver: @best_match.id), method: :post do %>
        <% end %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
