<% if @best_match.nil? %>
  <% render "end" %>
<% else %>
  <div class="profile-container">
    <h5 class="match-percent">
      75%
    </h5>
    <% if @best_match.avatar.attached? %>
      <%= link_to user_path(@best_match) do %>
        <%= cl_image_tag @best_match.avatar.key, height: 200, width: 200, crop: :thumb, gravity: :face %>
      <% end %>
    <% elsif @best_match.gender == "male" %>
      <%= link_to user_path(@best_match) do %>
        <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866471/rqujcnufwkhrrkmdgkku.png" alt="<% @best_match.id %>">
      <% end %>
    <% else %>
      <%= link_to user_path(@best_match) do %>
        <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866457/hj6sf5ea59kq5xhi19ew.png" alt="<% @best_match.id %>">
      <% end %>
    <% end %>
    <div class="signs-list">
      <div class="sign">XX</div>
      <div id="sun-sign" class="sign">XXX</div>
      <div class="sign">XX</div>
    </div>
    <p class="profile-name"><%= @best_match.username %></p>
    <div class="like-buttons">
      <div class="deslike">
        <%= link_to interactions_path(like: false, receiver: @best_match.id), method: :post do %>
          <h2>X</h2>
        <% end %>
      </div>
      <div class="like">
        <%= link_to interactions_path(like: true, receiver: @best_match.id), method: :post do %>
          <h2>V</h2>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
