<% if @best_match.nil? %>
  <% render "end" %>
<% else %>
  <div class="profile-container">
    <h5 class="match-percent">
      70%
    </h5>
    <div class="profile-photo">
      <% if @best_match.avatar.attached? %>
        <%= link_to user_path(@best_match) do %>
          <%= cl_image_tag @best_match.avatar.key, height: 200, width: 200, crop: :thumb, gravity: :face %>
        <% end %>
      <% elsif @best_match.gender == "male" %>
        <%= link_to user_path(@best_match) do %>
          <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866471/rqujcnufwkhrrkmdgkku.png" alt="<% @best_match.id %>">
        <% end %>
      <% else %>
        <%= link_to user_path(@best_match) do %>
          <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866457/hj6sf5ea59kq5xhi19ew.png" alt="<% @best_match.id %>">
        <% end %>
      <% end %>
    </div>
    <div class="signs-list">
      <div class="sign"><h4>ASC</h4><p><%= Sign.find_by(id: @best_match.astrology_chart.ascendant_id).sign_name %></p></div>
      <div id="sun-sign" class="sign"><h4>SUN</h4><p><%= Sign.find_by(id: @best_match.astrology_chart.sun_id).sign_name %></p></div>
      <div class="sign"><h4>MOON</h4><p><%= Sign.find_by(id: @best_match.astrology_chart.moon_id).sign_name %></p></div>
    </div>
    <p class="profile-name"><%= @best_match.username %></p>
    <div class="like-buttons">
      <div class="deslike">
        <%= link_to interactions_path(like: false, receiver: @best_match.id), method: :post do %>
          <i class="fas fa-times fas-4x"></i>
        <% end %>
      </div>
      <div class="like">
        <%= link_to interactions_path(like: true, receiver: @best_match.id), method: :post do %>
          <i class="far fa-heart fas-4x"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
