<div class="mobile-container">
  <div class="margin-container">
    <h1><%= (@user.username).capitalize %></h1>
    <h2><%= distance_of_time_in_words(DateTime.now, @user.astrology_chart.birthdate)%></h2>

    <p><%= @user.description %></p>
    <p><%= @user.gender %></p>

    <p><%= link_to "Preferencias", edit_my_preferences_path(current_user) %></p>
    <p><%= link_to "Configurar Dados", edit_user_path(current_user) %></p>
    <p><%= link_to "Recalcular Mapa", edit_astrology_chart_path(current_user) %></p>
  </div>
</div>
