<div class="mobile-container">
  <div class="margin-container">
    <h1><%= (@user.username).capitalize %></h1>
    <h2>Day: <%= @user.astrology_chart.birthdate.day %>, Month <%= @user.astrology_chart.birthdate.month %>, Year: <%= @user.astrology_chart.birthdate.year %> </h2>
    <p><%= @user.description %></p>
    <p><%= @user.gender %></p>

    <%= link_to "Configurar Dados", edit_user_path(current_user) %></p>
    <%= link_to "Recalcular Mapa", edit_astrology_chart_path(current_user) %></p>
  </div>
</div>
