<div class="my-user-profile-container">
  <div class="profile-photo">
          <% if @user.avatar.attached? %>
            <%= link_to my_profile_path do %>
              <%= cl_image_tag @user.avatar.key, crop: :thumb, gravity: :face %>
            <% end %>
          <% elsif @user.gender == "male" %>
            <%= link_to my_profile_path do %>
              <img src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-19_eufk6s.png" alt="<% @user.id %>">
            <% end %>
          <% else %>
            <%= link_to my_profile_path do %>
              <img src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-20_njbszk.png" alt="<% @user.id %>">
            <% end %>
          <% end %>
        </div>
        <h2 class="profile-name">My Astral Chart</h2>
        <div class="signs-list">
            <div class="sign">
              <div class="sign-description">
                <h4>ASC</h4>
                <div class="icon-sign"><%= image_tag(@user.astrology_chart.ascendant.icon_url) %></div>
                <div class="icon-sign-text"><p><%= Sign.find_by(id: @user.astrology_chart.ascendant_id).sign_name %></p></div>
              </div>
            </div>
            <div class="sun-sign">
              <div class="sign-sun-description">
                <h4>SUN</h4>
                <div class="icon-sun-sign"><%= image_tag(@user.astrology_chart.sun.icon_url) %></div>
                <p><%= Sign.find_by(id: @user.astrology_chart.sun_id).sign_name %></p>
              </div>
            </div>
            <div class="sign">
              <div class="sign-description">
                <h4>MOON</h4>
                <div class="icon-sign"><%= image_tag(@user.astrology_chart.moon.icon_url) %></div>
                <p><%= Sign.find_by(id: @user.astrology_chart.moon_id).sign_name %></p>
              </div>
            </div>
        </div>
        <h2 class="profile-name"><%= @user.username.capitalize %></h2>
        <h3><%= distance_of_time_in_words(DateTime.now, @user.astrology_chart.birthdate)%></h3>
        <p><%= @user.description %></p>
        <p>(<%= @user.gender.capitalize %>)</p>

        <div class="profile-buttons">
          <div class="row">
            <%= link_to "Preferences", edit_my_preferences_path(current_user), class:"profile-btn btn col-sm-4" %>
            <%= link_to "Configuration", edit_user_path(current_user), class:"profile-btn btn col-sm-4" %>
            <%= link_to "Recalculate Astral Chart", edit_astrology_chart_path(current_user), class:"profile-btn btn col-sm-4" %>
          </div>
  </div>
</div>
