<div class="mobile-container">
  <div class="margin-container">
    <%= cl_image_tag @user.avatar.key, height: 200, width: 200, crop: :thumb, gravity: :face %>
    <h2><%= @user.username %></h2>
    <p><%= @user.description %></p>
    <p><%= @user.astrology_chart.birth_city %></p>
    <p><%= @user.astrology_chart.birthdate %></p>
  </div>
</div>


