<div class="profile-user-container">
      <h2 class="profile-name"><%= @match_percentage %>%</h2>
        <div class="profile-photo">
        <% if @user.avatar.attached? %>
            <%= link_to all_users_path do %>
              <h4> <%= cl_image_tag @user.avatar.key, height: 200, width: 200, crop: :thumb, gravity: :face %></h4>
            <% end %>
        <% elsif @best_match.gender == "male" %>
            <%= link_to user_path(@best_match) do %>
              <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-19_eufk6s.png" alt="<% @best_match.id %>">
            <% end %>
        <% else %>
            <%= link_to user_path(@best_match) do %>
              <img class="d-block" id="image-carousel" src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-20_njbszk.png" alt="<% @best_match.id %>">
            <% end %>
        <% end %>
        </div>
        <h1 class="profile-name">
          <%= link_to all_users_path do %>
            <%= @user.username %>
          <% end %>
        </h1>
        <h5 class="profile-name"><%= distance_of_time_in_words(DateTime.now, @user.astrology_chart.birthdate).capitalize%></h5>
        <p><%= @user.description %></p>
        <h5 class="profile-name"><%= @user.astrology_chart.birth_city %></h5>
        <div class="bars">
        <h6>Solar compatibility: <%= @sun_percentage %>%</h6>
          <div class="compatibility-bars">
            <div class="my-sign-icon"><%= image_tag(current_user.astrology_chart.sun.icon_url) %></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @sun_percentage %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="user-sign-icon"><%= image_tag(@user.astrology_chart.sun.icon_url) %></div>
          </div>
          <h6>Ascendant compatibility: <%= @ascendant_percentage %>%</h6>
          <div class="compatibility-bars">
            <div class="my-sign-icon"><%= image_tag(current_user.astrology_chart.ascendant.icon_url) %></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @ascendant_percentage %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="user-sign-icon"><%= image_tag(@user.astrology_chart.sun.icon_url) %></div>
          </div>
          <h6>Lunar compatibility: <%= @moon_percentage %>%</h6>
          <div class="compatibility-bars">
            <div class="my-sign-icon"><%= image_tag(current_user.astrology_chart.moon.icon_url) %></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @moon_percentage %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="user-sign-icon"><%= image_tag(@user.astrology_chart.moon.icon_url) %></div>
          </div>
        </div>
        <div class="like-buttons">
          <div class="deslike">
            <%= link_to interactions_path(like: false, receiver: @user.id), method: :post do %>
              <i class="fas fa-times fas-4x"></i>
            <% end %>
          </div>
          <div class="like">
            <%= link_to interactions_path(like: true, receiver: @user.id), method: :post do %>
              <i class="fas fa-heart fas-4x"></i></i>
            <% end %>
          </div>
        </div>
</div>
