<div class="phone-frame">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to all_users_path, class: "navbar-brand" do %>
      <i class="fas fa-meteor"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <nav class="my-2 my-md-0 mr-md-3">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to "Browse", all_users_path, class: "text-dark mr-3" %>
              </li>
              <li class="nav-item active">
                <%= link_to "My Matches", "#", class: "text-dark mr-3" %>
              </li>
              <li class="nav-item active">
                <%= link_to "My Profile", my_profile_path, class: "dropdown-item" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Configuration", edit_user_path(current_user), class: "dropdown-item" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </nav>
        <% else %>
          <%= link_to "Sign in", all_users_path, class: "btn btn-secondary mr-3" %>
          <%= link_to "Sign up", all_users_path, class: "btn btn-outline-primary" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
