<div class="signin-forms-container">
  <div class="col-sm">
    <img src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584295774/Astromatch-biglogo_aztqo5.png">

    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "signin-submit btn btn-light text-center" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
