<% if @matches.empty? %>
  <div class="card-product">

      <div class="card-product-infos">
      <h2>You don't have any matches yet.</h2>
  </div>
<% else %>
<div class="card-title">
  <h2>Chats</h2>
</div>
  <% @matches.each do |match| %>
      <%= link_to match_path(match.id) do %>
        <div class="card-product">
          <%= link_to match_path(match.id) do %>
            <% if match.other_user(current_user).avatar.attached? %>
              <div class="icon-sign-chat"><%= image_tag(match.other_user(current_user).astrology_chart.ascendant.icon_url) %></div>
              <%= cl_image_tag match.other_user(current_user).avatar.key, class: "avatar", crop: :thumb, gravity: :face %>
            <% elsif match.gender == "male" %>
              <div class="icon-sign-chat"><%= image_tag(match.other_user(current_user).astrology_chart.ascendant.icon_url) %></div>
              <%= cl_image_tag "https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-19_eufk6s.png", crop: :fill, class: "avatar" %>
            <% else %>
              <div class="icon-sign-chat"><%= image_tag(match.other_user(current_user).astrology_chart.ascendant.icon_url) %></div>
              <%= cl_image_tag "https://res.cloudinary.com/dgeodyyf7/image/upload/v1584325494/Astromatch_Elementos-20_njbszk.png", crop: :fill, class: "avatar" %>
            <% end %>
            <div class="card-product-infos">
              <% if match.user_one == current_user %>
                  <h2> <%= match.user_two.username.downcase.capitalize %></h2>
              <% else %>
                  <h2> <%= match.user_one.username.downcase.capitalize %></h2>
              <% end %>
              <% if match.messages.last.nil? %>
                <p></p>
              <% else %>
                <p><%= match.messages.last.content %></p>
              <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
