<% if @matches.empty? %>
  <div class="card-product">
    <div class="sign-chat" id="sign-icon">
      <%= cl_image_tag "https://res.cloudinary.com/dgeodyyf7/image/upload/v1583239038/astroloja-01_mwidxw.jpg", crop: :fill %>
      <div class="card-product-infos">
      <h2>Chatssss</h2>
    </div>
  </div>
<% else %>
<div class="card-title">
  <h2>Chats</h2>
</div>
  <% @matches.each do |match| %>
      <%= link_to match_path(match.id) do %>
        <div class="card-product">
        <div class="sign-chat" id="sign-icon"><div id="sign-icon-2"> <%= image_tag(match.other_user(current_user).astrology_chart.ascendant.icon_url) %></div></div>
          <%= link_to match_path(match.id) do %>
            <% if match.other_user(current_user).avatar.attached? %>
              <%= cl_image_tag match.other_user(current_user).avatar.key, class: "avatar", crop: :thumb, gravity: :face %>
             <% else %>
              <%= cl_image_tag "https://res.cloudinary.com/dgeodyyf7/image/upload/v1583239038/astroloja-01_mwidxw.jpg", crop: :fill %>
            <% end %>
            <div class="card-product-infos">
              <% if match.user_one == current_user %>
                  <h2> <%= match.user_two.username.downcase.capitalize %></h2>
              <% else %>
                  <h2> <%= match.user_one.username.downcase.capitalize %></h2>
              <% end %>
              <% if match.messages.last.nil? %>
                <p></p>
              <% else %>
                <p><%= match.messages.last.content %></p>
              <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
