<div class= "container" >
  chat with <%= @match.user_one == current_user ?  @match.user_two.email : @match.user_one.email  %>
  <div class= "chat">
<% @match.messages.each do |message| %>
  <div class= "d-flex justify-content-<%= current_user == message.sender ? 'end' : 'start' %>  ">
    <p> <%= message.sender.email %> </p>
    <p> <%= message.content %></p>
  </div >
<% end %>
</div>
</div>

<div class=" pl-5 ml-5 send-messages">
  <%= simple_form_for [ @match, @message ], html: { class: 'w-100 row' }, remote: true do |form| %>
    <div class="col-10">
      <%= form.input :content , placeholder: "Chat", label: false %>
    </div>
    <div class="col align-bottom">
      <%= form.button :submit, "Send", class: "btn btn-primary mt-5" %>
    </div>
<% end %>
</div>

<% content_for :after_js do %>
  <script>
    App['match_channel_<%= @match.id %>'] = App.cable.subscriptions.create({ channel: 'MatchChatChannel', id: '<%= @match.id %>' }, {
      received: (data) => {
        const messages = document.querySelector('.messages');
        messagesContainer.insertAdjancentHTML('beforeend', data.message_partial);
        // called when data is broadcast in the cable

      }
    });

  </script>
<% end %>
